@font-face{
	font-family: Lato-Light;
	src: url(./Lato-Light.ttf);
}

@font-face{
	font-family: Lato-Bold;
	src: url(./Lato-Bold.ttf);
}

@font-face{
	font-family: Lato;
	src: url(./Lato-Regular.ttf);
}
@font-face{
	font-family: League-Spartan;
	src: url(./leaguespartan-bold.ttf);
}
@font-face{
	font-family: GT-Welshiem;
	src: url(./gt-walsheim-web.ttf);
}
@font-face{
	font-family: GT-Welshiem-Lite;
	src: url(./gt-walsheim-light-web.ttf);
}
@font-face{
	font-family: GT-Welshiem-Bold;
	src: url(./gt-walsheim-bold-web.ttf);
}
body{
	margin:0;
	background-color: #8ECDD2;
	/* background-image: url(../img/ground.svg); */
	background-size:100% 100%;
	overflow-x: hidden;
	background-repeat: no-repeat;
	/* background-origin: padding-box; */
	background-position: center top;
}

img{
	position: absolute;
	/* width:100%; */
}


canvas{
	margin:0;

}
#header{
	/* background: url(../img/timer.svg);
	background-position: center top;
	background-size: cover; */
	position: absolute;
	/* display:inline; */
	z-index: 22;
	top:0;
	left:0;
	display:block;
	width: 100%;
	/* padding: 10px 20px; */
	margin:0;
	padding: 0.7em 0;
	background:rgb(47, 28, 16);
	/* height:auto; */
}

#logoWrap{
	position: absolute;
	
}


#banner{
	width:20em;
}
#pageWrap{

	transition: filter 0.4s;
	-webkit-transition: -webkit-filter 0.4s;
	-moz-transition: -moz-filter 0.4s;
	-o-transition: -o-filter 0.4s;
}

.blur{
	-webkit-filter: blur(1.1px);
}


#contentWrap{
	opacity:0;
	display:block;
	z-index:1000;
	/* background:rgba(0,0,0,0.5); */
	height:100%;/* 
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s; */
	/* position: ; */
}

.visible{
	opacity:1 !important;
}

#back{
	position: absolute;
	top:0;
	left:0;
	z-index:100;
	width:100vw;
	height:100vh;
	background:rgba(0,0,0,0.5);
}


#centerDiv{
	position: relative;
	top:50%;
	opacity:0.9;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);

	background:whitesmoke;
	width:60%;
	height:70%;
	margin:0 auto;
	box-shadow: 0 0 20px 1px black;
	z-index:100;
	/* overflow-y:scroll; */
}
#contentWrap p{
	z-index:100;
}
#headWrap{
	height:15%;
	width:100%;
	background:rgb(221, 79, 78);

	/* #FF7273; */
}

#headTitle{
	display:block;
	position:relative;
	text-align: center;
	top:22%;
	font-family:League-Spartan,sans-serif;
	color:white;
	font-size:2em;
	/* text-shadow: 20px 10px 10px white; */
}

#close{
	position: absolute;
	font-family:Lato,sans-serif;
	color:white;
	font-weight:bold;
	top:-6%;
	/* font-size:1.15em; */
	right:0.5%;
	text-shadow: 0 0 5px black;

}
#textArea{
	position: relative;
	overflow-y: scroll;
	height:70%;
}
#textWrap{
	position: absolute;
	width:85%;
	left:8%;
	overflow-y: hidden;
	font-family:Lato,sans-serif;
	text-align:center;
}

.subcategory{
	list-style-type:none;
	margin-bottom: 10px;
}
.subcategory li{float:right;margin-right: 2%;width:45% ;margin-left: 3%;margin-bottom: 15px;}

/* #textWrap h3{
	text-align:center;
}

#textWrap p{
	text-align:left;
} */

#nav{
	position:absolute;
	top:0;
	padding:0em 0;
	right:3em;
	margin:0;
	height:100%;
}
#nav div{
	display:inline;
	/* border-radius:2px; */
	float:left;
font-family: League-Spartan, sans-serif;
	color:white;
	vertical-align:middle;
	padding:0.2em 1em;
	margin:10px 0;
	transition: background 0.3s,color 0.3s;
}

#nav div p{
	margin:8.5px 5px;
}
#nav div:hover{
	background:white;
	color:rgb(47, 28, 16);
	/* box-shadow:0 0 5px 2px rgb(47, 28, 16) inset ; */
}

#countdown{
	/* display:block; */
	/* width:0vw;
	position: relative;
	margin:0 auto; */
}

#countdown canvas{
	width:200px;
	background:url(../img/screws.svg);
	padding: 0 3px;
	display:block;
	position: relative;
	margin:0 auto;
}

#game{
	position: absolute;
	bottom:10%;
	left:0;
	width:100vw;
	height: auto;
	z-index:10;
}

#bottomCover{
	position: absolute;
	bottom:0;
	width:100vw;
	height:40%;
	background:#91BC36;
	/* z-index:-1; */
}
/* 

 #timer{
	width:100vw;
	top:-1%;
	left:0;
	z-index:20;
} 
 */
#logo{
	top:2%;
	width:8%;
	left:47%;
}

#sun{
	right:20%;
	top:12%;
	width:8%;
	z-index:20;
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-ms-animation: rotate 20s linear infinite;
	-webkit-animation: rotate 20s linear infinite;
	-moz-animation: rotate 20s linear infinite;
	-o-animation: rotate 20s linear infinite;
	animation: rotate 20s linear infinite;
	-ms-animation: rotate 20s linear infinite;
}

.lowerZ{
	;
}

@keyframes rotate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@-webkit-keyframes rotate{
	0%{
		-webkit-transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes rotate{
	0%{
		-moz-transform: rotate(0deg);
	}
	100%{
		-moz-transform: rotate(360deg);
	}
}
@-o-keyframes rotate{
	0%{
		-o-transform: rotate(0deg);
	}
	100%{
		-o-transform: rotate(360deg);
	}
}
@-ms-keyframes rotate{
	0%{
		-ms-transform: rotate(0deg);
	}
	100%{
		-ms-transform: rotate(360deg);
	}
}


#balloon{
	width: 3%;
	right: 10%;
	top:25%;
	z-index: 50;
}


#textArea::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
#textArea::-webkit-scrollbar-button {
  width: 19px;
  height: 19px;
}
#textArea::-webkit-scrollbar-thumb {
  background: #dd4f4e;
  border: 0px none #ffffff;
  /* border-radius: 87px; */
}
#textArea::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
#textArea::-webkit-scrollbar-thumb:active {
  background: #000000;
}
#textArea::-webkit-scrollbar-track {
  background: #f8eded;
  border: 0px none #ffffff;
  /* border-radius: 13px; */
}
#textArea::-webkit-scrollbar-track:hover {
  background: #666666;
}
#textArea::-webkit-scrollbar-track:active {
  background: #333333;
}
#textArea::-webkit-scrollbar-corner {
  background: transparent;
}


#fblike{
	position: absolute;
bottom: 18px;
z-index: 20;
width: 200px;
height: 21px;
left: 3%;
}